nav {
  background-color: brown;
}

nav a img {
  width: 15%;
}

section.satu {
  padding-top: 50px;
  /* background-color: aqua; */
  padding-bottom: 50px;
}

/* section.satu .container {
    background-color: aliceblue;
} */

.satu .column-1a {
  margin-top: 50px;
}

.satu .column-1a h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.satu .column-1a button.button-satu {
  border: none;
  padding: 10px 25px;
  margin-right: 15px;
  border-radius: 100px 100px 100px 100px;
  background-color: brown;
  color: white;
  font-weight: bold;
}

.satu .column-1a button.button-satu:hover {
  background-color: lightskyblue;
  color: brown;
  font-weight: bold;
}

.satu .column-1b {
  /* background-color: azure; */
  margin: auto;
  text-align: center;
}

.satu .column-1b img {
  width: 70%;
  border-radius: 10px 10px 10px 10px;
}

section.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .container {
  background-image: url(img/kopi.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* .about .container::after {
    background-image: url(img/kopi.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.5;
    content: "";
    z-index: -1;
    opacity: 0.5;
} */

.about .about-h2 h1 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: brown;
  text-shadow: 2px 2px black;
}

.about .about2 {
  margin-top: 50px;
}

.about p {
  text-align: justify;
}

section.product {
  background-color: brown;
  padding: 50px 0;
}

.product .product1 {
  margin: auto;
  text-align: center;
  color: white;
  width: 80%;
}

.product .product1 p {
  margin: auto;
  width: 60%;
}

.product .product2 {
  margin-top: 50px;
}

.product .product2 .card {
  border-radius: 15px 15px 15px 15px;
  padding: 10px 15px;
}

.product .product2 h5 {
  border: 1px solid brown;
  width: fit-content;
  padding: 0px 15px;
  background-color: brown;
  color: white;
  border-radius: 50px 50px 50px 50px;
}

.product .product2 .card h1 {
  margin-top: 30px;
  font-weight: bold;
}

.product .product2 .card p {
  margin-top: 30px;
}

section.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  padding: 5px 0;
}

footer p {
  padding-top: 10px;
  color: white;
  text-align: center;
}
